* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.scrollable-div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollable-div::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scrollable-div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#login-background {
    background-color: #3B3B3B;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-second-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-second-background::before {
    content: "";
    background: url("./images/movielist.jpg") repeat center;
    position: absolute;
    filter: blur(5px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

#sign-up-background {
    background-color: #3B3B3B;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-up-second-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#sign-up-second-background::before {
    content: "";
    background: url("./images/movielist.jpg") repeat center;
    position: absolute;
    filter: blur(5px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}

.login-image {
    width: 200px;
    height: 200px;
}

.sign-up-image {
    width: 240px;
    height: 240px;
    margin-right: 20px;
}

.movies-img {
    width: 200px;
    height: 200px;
    transition: transform .2s;
    margin: 10px;
    cursor: pointer;
}

.movies-img:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 0 5px black;
}

.login-content {
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.image-css {
    display: flex;
    justify-content: center;
}

.navbar-go-to-mainpage-image {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#mainpage-background {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

#mainpage-content {
    background-color: #3B3B3B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.navbar-content {
    background-image: url("./images/movielist.jpg");
    content: "";
    height: 40vh;
    width: 100vw;
    justify-content: center;
    margin-bottom: 10%;
}

.navbar-img-search-logout {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    transition: 850ms;
}

.navbar-img-search-logout:hover {
    background-color: black;
    transition: 850ms;
}

.navbar-search {
    margin: 1%;
    width: 30%;
}

.navbar-search-input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid;
}

.search-bar{
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
    margin-left: 25%;
    margin-right: 25%;
}

.search-bar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.search-bar-parent {
    border: 1px solid #DFDFDF;
    background-color: #F5F5F5;
    height: 100px;
    margin-bottom: 2%;
    cursor: pointer;
    border-radius: 10px;
}

.search-image-div {
    float: left;
    height: 100%;
}

.search-image {
    /*height: 100%;*/
    padding: 3%;
    transition: 350ms;
    height: 98px;
    width: 60px;
    border-radius: 10px;
}

.search-title-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.search-title {
    display: flex;
    font-size: 16px;
}

.scrollable-div-size {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid;
    align-items: center;
}

.scrollable-div {
    display: flex;
    overflow-x: scroll;
    width: 60vw;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #171c20;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.category-label {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding: 1%;
}

.category-div {
    margin-left: 20%;
    margin-right: 20%;
}

.sidebar {
    position: fixed;
    top: 50vh;
    left: 0;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #464646;
    width: 250px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30%;
    left: -100%;
    transition: 850ms;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.98;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #F7F7F7;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #E1E1E1;
    color: #464646;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #464646;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0px 20px 0px 0px;
}

span {
    margin-left: 16px;
}

.all-data-div {
    background-color: #F7F7F7;
    padding-bottom: 10px;
}

.top-content-div:hover + .movie-storyline {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F1F1F1;
    opacity: 0.9;
}

.test{
    background-color: red;
}

.movie-storyline{
    margin-top: 10vh;
    border-radius: 10px;
    height: 80vh;
    padding: 20px;
    margin-left: 20%;
    position: fixed;
    display: none;
    top: 0;
    left: 130vh;
    transition: 350ms;
    /*z-index: 10;*/
}

.all-data-single-div {
    border: 1px solid #DFDFDF;
    background-color: #F5F5F5;
    margin-left: 30%;
    margin-right: 30%;
    height: 200px;
    margin-bottom: 2%;
    cursor: pointer;
}

.all-data-poster-div {
    float: left;
    height: 100%;
}

.all-data-poster {
    /*height: 100%;*/
    padding: 3%;
    transition: 350ms;
    height: 190px;
    width: 133px;
}

.all-data-poster:hover {
    transform: scale(1.03);
    transition: 350ms;
}


.all-data-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.all-data-title-year {
    display: flex;
    font-size: 16px;
}

.all-data-rating {
    float: left;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.movies-title {
    display: flex;
    justify-content: center;
}

/*.singleDataImg {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/

.add-movie-info{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
    margin-bottom: 10px;
}

.add-movie-warning{
    background-color: #FFADAD;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
    margin-bottom: 10px;
}

.add-movie-content{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
}

.details-div{
    margin-left: 20%;
    margin-right: 20%;
    height: 400px;
}
.details-line{
    height: 1px;
    margin-bottom: 7px;
    background-color: black;
}

.details-title{
    font-size: 50px;
}

.details-title-parent{
    display: flex;
    justify-content: center;
}

.details-content {
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.details-main-div {
    align-items: center;
    text-align: center;
}

.details-image {
    float: left;
    height: 286px;
    width: 200px;
}

.space{
    width: 100%;
    height: 100px;
}

.form-control-nickname{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-control-email{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-control-password{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-control-nickname-warning{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: red;
    background-color: #FFADAD;
}

.form-control-email-warning{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: red;
    background-color: #FFADAD;
}

.form-control-password-warning{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: red;
    background-color: #FFADAD;
}
